<div id="adopter_fields">
  <%= f.hidden_field :role, value: 'adopter' %>
  <%= f.fields_for :adopter do |adopter_fields| %>
    <div>
      <%= adopter_fields.label :first_name %>
      <%= adopter_fields.text_field :first_name %>
    </div>
    <div>
      <%= adopter_fields.label :last_name %>
      <%= adopter_fields.text_field :last_name %>
    </div>
    <div>
      <%= adopter_fields.label :preference %>
      <%= adopter_fields.text_field :preference %>
    </div>
  <% end %>
</div>

<%= link_to "Registering for a shelter?", new_user_registration_path(role: 'shelter') %>