<div id="shelter_fields">
  <%= f.hidden_field :role, value: 'shelter' %>
  <%= f.fields_for :shelter do |shelter_fields| %>
    <div class="field rounded-lg mb-2 w-full">
      <%= shelter_fields.text_field :address,
          placeholder: "Service Area",
          class: "shadow outline-none border-0 h-12 bg-gray-200 appearance-none rounded-lg w-full py-2 px-3 leading-tight focus:outline-none focus:border-0"
      %>
    </div>
    <div class="field rounded-lg mb-2 w-full">
      <%= shelter_fields.text_field :name,
          placeholder: "Shelter Name",
          class: "shadow outline-none border-0 h-12 bg-gray-200 appearance-none rounded-lg w-full py-2 px-3 leading-tight focus:outline-none focus:border-0"
      %>
    </div>
    <div class="field rounded-lg mb-2 w-full">
      <%= shelter_fields.text_field :phone_number,
          placeholder: "Contact Number",
          class: "shadow outline-none border-0 h-12 bg-gray-200 appearance-none rounded-lg w-full py-2 px-3 leading-tight focus:outline-none focus:border-0"
      %>
    </div>
    <div class="field rounded-lg mb-2 w-full">
      <%= shelter_fields.text_field :website,
          placeholder: "Website (optional)",
          class: "shadow outline-none border-0 h-12 bg-gray-200 appearance-none rounded-lg w-full py-2 px-3 leading-tight focus:outline-none focus:border-0"
      %>
    </div>
    <div class="field rounded-lg mb-2 w-full">
      <%= shelter_fields.text_area :description,
          placeholder: "Tell us about your shelter..",
          class: "shadow outline-none border-0 h-12 bg-gray-200 appearance-none rounded-lg w-full py-2 px-3 leading-tight focus:outline-none focus:border-0"
      %>
    </div>
  <% end %>
</div>

<div class="text-gray-400 text-center mb-2">
  <%= link_to "Sign up as an adopter?", new_user_registration_path(role: 'adopter') %>
</div>