<div class="flex flex-col justify-center items-center w-1/2 h-full bg-green-2 signup-b-radius text-white">
  <h1 class="text-5xl font-bold mb-8">Welcome Back!</h1>
  <h3 class="text-md">Enter your personal details to login</h3>
  <h3 class="text-md mb-6">to our platform.</h3>

  <div class="text-white text-center px-10 py-2 rounded-xl border-2 hover:bg-vanilla hover:text-green hover:border-vanilla transition-colors duration-300 ease-in-out">
    <%= link_to "SIGN IN", new_session_path(resource_name) %>
  </div>
</div>

<div class="flex flex-col justify-center items-center w-1/2 h-full">
  <h2 class="font-bold text-4xl">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'w-full max-w-lg px-10 py-2' }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %> 
    <div class="field rounded-lg mb-2 w-full">
      <%= f.email_field :email,
          placeholder: "Email",
          class: "shadow outline-none border-0 h-12 bg-gray-200 appearance-none rounded-lg w-full py-2 px-3 leading-tight focus:outline-none"
      %>
    </div>
    <div class="field rounded-lg mb-2 w-full">
      <%= f.password_field :password, 
          autocomplete: "new-password",
          placeholder: "Password",
          class: "shadow outline-none border-0 h-12 bg-gray-200 appearance-none rounded-lg w-full py-2 px-3 leading-tight focus:outline-none focus:border-0"
      %>
    </div>
    <div class="field rounded-lg mb-2 w-full">
      <%= f.text_field :username,
          placeholder: "Username",
          class: "shadow outline-none border-0 h-12 bg-gray-200 appearance-none rounded-lg w-full py-2 px-3 leading-tight focus:outline-none focus:border-0"
      %>
    </div>
    <div class="field rounded-lg mb-2 w-full">
      <%= f.text_field :location,
          placeholder: "City Address",
          class: "shadow outline-none border-0 h-12 bg-gray-200 appearance-none rounded-lg w-full py-2 px-3 leading-tight focus:outline-none focus:border-0"
      %>
    </div>

    <% if params[:role] == 'shelter' %>
      <%= render 'devise/registrations/shelter_fields', f: f %>
    <% else %>
      <%= render 'devise/registrations/adopter_fields', f: f %>
    <% end %>

    <div class="actions flex justify-center items-center w-full h-10 cursor-pointer">
      <%= f.submit "SIGN UP", class: "cursor-pointer bg-green w-full h-full rounded-lg text-white hover:bg-green-2 transition-colors duration-300 ease-in-out" %>
    </div>
  <% end %>

</div>