<nav class="w-full h-20 flex items-center justify-between relative z-50">
  <%= image_tag('2.png', class: 'w-96 mx-2.5') %>
</nav>

<div class="flex flex-col items-center min-h-screen bg-gray-100">
  <div class="relative flex flex-col justify-center items-center w-full max-w-5xl p-8 bg-white shadow-lg rounded-lg mt-8 mb-6">
    <h1 class="font-bold text-6xl text-center mt-8 z-10 text-green">Welcome, <%= current_user.username %>!</h1>
    <%= image_tag('cute_cat.png', class: "absolute -top-20 right-2 w-16 md:w-60 z-10") %>
    <%= image_tag('lazy.png', class: "absolute -bottom-7 left-2 w-16 md:w-60 z-10") %>
    <p class="landing-content text-center mt-4 text-md p-6 w-9/12 z-10 text-xl">
          Get ready to take a step towards transforming lives and creating happiness!
          At The Ruby Project, you are at the heart of a movement that bridges the gap between shelters
          and loving homes, fostering connections that last a lifetime.  
    </p>
  </div>

  <div class="text-center w-full max-w-5xl">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div>
        <%= link_to 'Manage Users', admin_users_path, class: 'block px-4 py-6 bg-orange-500 text-white rounded-lg shadow-lg hover:bg-orange-600' %>
      </div>
      <div>
        <%= link_to 'View Adoption Applications', admin_adoption_applications_path, class: 'block px-4 py-6 bg-orange-500 text-white rounded-lg shadow-lg hover:bg-orange-600' %>
      </div>
      <div>
        <%= link_to 'Invite User', invite_user_form_admin_users_path, class: 'block px-4 py-6 bg-orange-500 text-white rounded-lg shadow-lg hover:bg-orange-600' %>
      </div>
    </div>
  </div>
</div>
