# _form.html.erb
<%= form_with(model: [@shelter, @pet], local: true) do |form| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>
      <ul>
        <% @pet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :species %><br>
    <%= form.text_field :species %>
  </div>

  <div>
    <%= form.label :breed %><br>
    <%= form.text_field :breed %>
  </div>

  <div>
    <%= form.label :age %><br>
    <%= form.number_field :age %>
  </div>

  <div>
    <%= form.label :size %><br>
    <%= form.text_field :size %>
  </div>

  <div>
    <%= form.label :gender %><br>
    <%= form.text_field :gender %>
  </div>

  <div>
    <%= form.label :temperament %><br>
    <%= form.text_field :temperament %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :photo_url %><br>
    <%= form.file_field :photo_url, direct_upload: true %>
  </div>
    <div>
    <%= form.label :adoption_status %><br>
    <%= form.select :adoption_status, Pet.adoption_statuses.keys.map { |status| [status.humanize, status] }, selected: "available" %> 
  </div>

  <div>
    <%= form.label :location %><br>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
