<div class="w-full flex flex-col justify-center items-center">
  <div class="w-full">
    <div class="w-full flex justify-end items-center pl-6">
      <div class="w-3/4 bg-white p-6 rounded-3xl shadow-lg">
        <div>
          <%= form_with(model: [@pet, @pet_comment], url: adopter_pet_comments_path(@pet), id: "new_comment", local: true) do |form| %>
            <div class="flex items-center w-full">
              <%= form.text_area :comment_text, placeholder: "Add a comment", class: "w-full flex-1 rounded-3xl p-4 mr-2 h-16", id: "comment_text_area" %>
              <button type="submit" class="flex items-center justify-center bg-blue-500 text-white rounded-3xl p-5 transition duration-500 ease-in-out hover:bg-blue-700 disabled:opacity-50" id="submit_button" disabled>
                <i class="fa-solid fa-arrow-right-to-bracket text-xl"></i>
              </button>
            </div>
          <% end %>
        </div>

        <div class="mt-6">
          <% @pet.pet_comments.each do |pet_comment| %>
            <div class="flex items-start mb-4">
              <div class="relative flex items-center justify-center w-14 h-14 rounded-full bg-violet-600 text-white mr-4">
                <span><%= pet_comment.user.username[0].upcase %></span>
                <div class="absolute bottom-0 right-0 w-4 h-4 bg-teal-400 border-2 border-white rounded-full"></div>
              </div>
              <div class="w-full">
                <div class="w-full bg-gray-200 p-3 pl-4 rounded-2xl">
                  <p><strong><%= display_name(pet_comment.user) %></strong></p>
                  <p><%= pet_comment.comment_text %></p>
                </div>
                <p class="pl-4 pt-1 text-gray-500 text-md"><%= time_ago(pet_comment.created_at) %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>