<div class=" relative bg-white">
  <h1 class="font-bold text-4xl mb-4 bg-green text-white px-6 py-8 text-center header-radius">Edit Pet</h1>
  <%= image_tag('cute_cat.png', class: "absolute -bottom-20 left-2 w-16 md:w-60 z-10") %>
  <%= image_tag('cute_dog.png', class: "absolute bottom-0 right-2 w-16 md:w-64 z-10") %>
</div>

<%= form_with(model: @pet, url: shelter_namespace_pet_path(@pet), local: true, id: 'edit_pet_form', class: "w-full max-w-lg mx-auto") do |form| %>
  <div class="mb-4">
    <%= form.label :name, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :species, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :species, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :breed, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :breed, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :age, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.number_field :age, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :size, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :size, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :gender, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.select :gender, options_for_select([["Male", "Male"], ["Female", "Female"]]), {}, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :temperament, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :temperament, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :description, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_area :description, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="form-group">
    <%= form.label :photos, class: "block text-sm font-medium text-gray-700" %>
    <div id="photo-upload" class="dropzone"></div>
  </div>

  <div class="mb-4">
    <%= form.label :location, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :location, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :adoption_status, "Adoption Status", class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.select :adoption_status, Pet.adoption_statuses.keys.map { |status| [status.titleize, status] }, {}, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="flex items-center justify-between">
    <%= form.submit "Save Changes", class: "bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    <%= link_to 'Back to Pet', shelter_namespace_pet_path(@pet), class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
  </div>
<% end %>

<script>
  function initializeDropzone() {
    Dropzone.autoDiscover = false;

    var photoDropzone = new Dropzone("#photo-upload", {
      url: "<%= uploads_shelter_namespace_pets_path %>",
      maxFiles: 5,
      acceptedFiles: "image/*",
      addRemoveLinks: true,
      paramName: "file",
      headers: {
        "X-CSRF-Token": document.querySelector("meta[name='csrf-token']").getAttribute("content")
      },
      init: function() {
        var myDropzone = this;

        <% @pet.photos.each do |photo| %>
          var mockFile = { name: "<%= photo.filename.to_s %>", size: <%= photo.byte_size %>, url: "<%= url_for(photo) %>" };
          myDropzone.displayExistingFile(mockFile, mockFile.url);
          myDropzone.emit("complete", mockFile);
          mockFile.upload = { filename: "<%= photo.filename.to_s %>" };
        <% end %>

        myDropzone.on("success", function(file, response) {
          var form = document.getElementById('edit_pet_form');
          var input = document.createElement('input');
          input.type = 'hidden';
          input.name = 'pet[photo_urls][]';
          input.value = response.file_url;
          form.appendChild(input);
        });

        myDropzone.on("removedfile", function(file) {
          var form = document.getElementById('edit_pet_form');
          var input = form.querySelector('input[value="' + file.upload.filename + '"]');
          if (input) input.remove();
        });
      }
    });
  }

  document.addEventListener("turbo:before-cache", () => {
    if (Dropzone.instances.length > 0) {
      Dropzone.instances.forEach(dz => dz.removeAllFiles(true));
    }
  });
  
  document.addEventListener("DOMContentLoaded", initializeDropzone);
  document.addEventListener("turbo:load", initializeDropzone);
</script>

