<h1>Edit Pet</h1>

<%= form_with(model: @pet, url: shelter_namespace_pet_path(@pet), local: true) do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :species %>
    <%= form.text_field :species, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :breed %>
    <%= form.text_field :breed, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :age %>
    <%= form.number_field :age, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :size %>
    <%= form.text_field :size, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :gender %>
    <%= form.select :gender, options_for_select([["Male", "Male"], ["Female", "Female"]]), {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :temperament %>
    <%= form.text_field :temperament, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :photo_url %>
    <%= form.text_field :photo_url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :location %>
    <%= form.text_field :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :adoption_status, "Adoption Status" %>
    <%= form.select :adoption_status, Pet.adoption_statuses.keys.map { |status| [status.titleize, status] }, {}, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Save Changes", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'Back to Pet', shelter_namespace_pet_path(@pet), class: 'btn btn-secondary' %>
