<h1>Pets</h1>

<% if @pets.any? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Species</th>
        <th>Breed</th>
        <th>Age</th>
        <th>Size</th>
        <th>Gender</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @pets.each do |pet| %>
        <tr>
          <td><%= pet.name %></td>
          <td><%= pet.species %></td>
          <td><%= pet.breed %></td>
          <td><%= pet.age %></td>
          <td><%= pet.size %></td>
          <td><%= pet.gender %></td>
          <td>
            <%= link_to 'Show', shelter_namespace_pet_path(pet) %>
            <%= link_to 'Delete', shelter_namespace_pet_path(pet), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No pets found.</p>
<% end %>

<%= link_to 'New Pet', new_shelter_namespace_pet_path, class: 'btn btn-primary' %>
