<div>
  <div class=" relative bg-white">
    <h1 class="font-bold text-4xl mb-4 bg-green text-white px-6 py-8 text-center header-radius">Our Pets Looking For a New Home</h1>
    <%= image_tag('cute_cat.png', class: "absolute -bottom-20 left-2 w-16 md:w-60 z-10") %>
    <%= image_tag('cute_dog.png', class: "absolute bottom-0 right-2 w-16 md:w-64 z-10") %>
  </div>

  <div class="flex justify-start items-start bg-gray-100 rounded">

    <div class="flex flex-col justify-center items-center w-1/5 p-2 mt-2">
      <div class="flex flex-col justify-center ml-2">
        <h2 class="font-bold text-2xl my-4 ml-2">Filter</h2>
        <%= form_with url: adopter_pets_path, method: :get, local: true do |form| %>
          <div class="mb-4">
            <%= form.text_field :location, placeholder: "Location (Enter City)", class: "w-full rounded-2xl p-3 border-2" %>
          </div>
          <div class="mb-6">
            <%= form.label :distance, "Distance" %>
            <div class="flex">
              <%= form.number_field :distance, value: 15, class: "w-full rounded-2xl p-3 border-2" %>
              <%= form.select :unit, options_for_select([['Miles', 'mi'], ['Kilometers', 'km']], 'mi'), {}, { class: "ml-1 w-full rounded-2xl p-3 border-2" } %>
            </div>
          </div>
          <div class="mb-4">
            <% options = @species_counts.map { |species, count| ["#{species} (#{count})", species] } %>
            <% options.unshift(["Select Species (optional)", "", disabled: true, selected: true]) %>
            <%= form.select :species, options_for_select(options), { include_blank: true }, { id: 'species_select', class: 'form-control w-full rounded-2xl p-3 border-2' } %>
          </div>
          <div class="mb-4">
            <% options = @age_counts.map { |age, count| ["#{age} (#{count})", age] } %>
            <% options.unshift(["Select Age (optional)", "", disabled: true, selected: true]) %>
            <%= form.select :age, options_for_select(options), { include_blank: true }, { id: 'age_select', class: 'form-control w-full rounded-2xl p-3 border-2' } %>
          </div>

          <div class="mb-4">
            <% options = @gender_counts.map { |gender, count| ["#{gender} (#{count})", gender] } %>
            <% options.unshift(["Select Gender (optional)", "", disabled: true, selected: true]) %>
            <%= form.select :gender, options_for_select(options), { include_blank: true }, { id: 'gender_select', class: 'form-control w-full rounded-2xl p-3 border-2' } %>
          </div>

          <div class="mb-4">
            <% options = @temperament_counts.map { |temperament, count| ["#{temperament} (#{count})", temperament] } %>
            <% options.unshift(["Select Temperament (optional)", "", disabled: true, selected: true]) %>
            <%= form.select :temperament, options_for_select(options), { include_blank: true }, { id: 'temperament_select', class: 'form-control w-full rounded-2xl p-3 border-2' } %>
          </div>
          <div class="mb-4">
            <%= form.submit "Search", class: 'bg-green w-full p-3.5 rounded-2xl text-vanilla cursor-pointer text-lg hover:bg-green-2 transition duration-500 ease-in-out' %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="w-4/5 p-6">
      <% if @pets.present? %>
        <ul class="flex flex-wrap justify-center items-center m-auto p-6 rounded-3xl shadow-xl bg-white">
          <% @pets.each do |pet| %>
            <li class="w-1/4 m-3 shadow rounded-2xl p-4 mx-8 bg-gray-100 text-center">
              <div class="relative w-full h-40 border mb-2 rounded-xl">
                <% if pet.photos.any? %>
                  <% pet.photos.each do |photo| %>
                    <%= image_tag url_for(photo), class: 'w-full h-full object-cover rounded-lg' %>
                  <% end %>
                <% else %>
                  <% if pet.species == 'Cat' %>
                    <%= image_tag('dp_cat.png', class: 'w-full h-full object-cover') %>
                  <% elsif pet.species == 'Dog' %>
                    <%= image_tag('dp_dog.png', class: 'w-full h-full object-cover') %>
                  <% else %>
                    <%= image_tag('paw.png', class: 'w-full h-full object-cover') %>
                  <% end %>
                <% end %>

                <div class="absolute bottom-2 right-2 bg-slate-200 py-2 px-3 rounded-full hover:bg-slate-300 transition duration-500 ease-in-out">
                  <% if current_user.favorites.exists?(pet_id: pet.id) %>
                    <%= form_with(url: adopter_favorite_path(id: pet.id), method: :delete, local: true) do %>
                      <%= hidden_field_tag :pet_id, pet.id %>
                      <%= button_tag type: 'submit', class: 'btn text-xl' do %>
                        <i class="fa-solid fa-heart" style="color: crimson;"></i>
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= form_with(url: adopter_favorites_path, method: :post, local: true) do %>
                      <%= hidden_field_tag :pet_id, pet.id %>
                      <%= hidden_field_tag :redirect_to, 'pets' %>
                      <%= button_tag type: 'submit', class: 'btn text-xl' do %>
                        <i class="fa-regular fa-heart" style="color: crimson;"></i>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>

                <div class="absolute bottom-2 left-2 bg-slate-200 py-2 px-3.5 rounded-full hover:bg-slate-300 hover:text-black transition duration-500 ease-in-out">
                  <button class="adopt-button" data-pet-id="<%= pet.id %>" data-pet-name="<%= pet.name %>">
                    <i class="fa-solid fa-hand-holding-heart mr-1" style="color: teal;"></i>
                    <span class="text-blue-700">Adopt</span>
                  </button>
                </div>
              </div>

              <p class="text-xl"><strong><%= link_to pet.name.capitalize, adopter_pet_path(pet) %></strong> - <%= pet.gender.capitalize %></p>
              <p><%= pet.location.capitalize %></p>
              <p><%= pet.species.capitalize %> - <%= pet.breed.capitalize %></p>
              <p><%= pet.age %> years old</p>

              <p class="mt-4">
                <%= link_to adopter_pet_path(pet), class: "text-blue-500 hover:text-blue-700" do %>
                  <i class="fas fa-comments mr-1"></i>
                  Comments <span class="text-sm text-gray-600 border px-1.5 rounded"><%= pet.pet_comments.size %></span>
                <% end %>
              </p>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="text-center text-xl">No pets found matching the selected criteria.</p>
      <% end %>
    </div>

    <div id="confirmationModal" class="fixed inset-0 z-50 overflow-auto flex items-center justify-center hidden">
      <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
      <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded-2xl shadow-lg z-50 overflow-y-auto">
        <div class="modal-content p-6 text-left">
          <div class="flex justify-start items-start pb-8">
            <p class="text-xl">Please confirm if you want to submit an adoption application for <span id="petName" class="font-bold"></span>.<br/>
            <span class="text-sm text-green-2">Note: You will be redirected to the application page if you click 'Yes'.</span>
            </p>
            <button id="closeModal" class="modal-close cursor-pointer z-50">X</button>
          </div>
          <div class="flex justify-end">
            <button id="confirmAdoption" class="px-4 py-2 bg-green text-white rounded hover:bg-green-2 transition duration-500 ease-in-out">Yes</button>
            <button id="cancelAdoption" class="px-4 py-2 bg-gray-300 text-gray-700 rounded hover:bg-gray-400 ml-4 transition duration-500 ease-in-out">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var modal = document.getElementById('confirmationModal');
  var closeModalBtn = document.getElementById('closeModal');
  var confirmAdoptionBtn = document.getElementById('confirmAdoption');
  var cancelAdoptionBtn = document.getElementById('cancelAdoption');
  function openModal(petName) {
    document.getElementById("petName").textContent = petName;
    modal.classList.remove('hidden');
    modal.classList.add('flex');
  }
  function closeModal() {
    modal.classList.add('hidden');
  }
  confirmAdoptionBtn.addEventListener('click', function() {
    var newAdoptionPath = "<%= j(new_adopter_adoption_application_path) %>"; 
    window.location.href = newAdoptionPath; 
  });
  cancelAdoptionBtn.addEventListener('click', function() {
    closeModal();
  });
  closeModalBtn.addEventListener('click', function() {
    closeModal();
  });
  document.querySelectorAll('.adopt-button').forEach(function(button) {
    button.addEventListener('click', function() {
      var petId = this.getAttribute('data-pet-id'); 
      var petName = this.getAttribute('data-pet-name'); 
      openModal(petName, petId);
    });
  });

</script>

