<div class="w-full h-full">
  <div class="relative bg-white">
    <h1 class="font-bold text-4xl mb-4 bg-green text-white px-6 py-8 text-center header-radius">Pet Profile: <%= @pet.name %></h1>
    <%= image_tag('lazy.png', class: "absolute -bottom-1.5 right-8 w-16 md:w-40 z-10") %>
  </div>

  <div class="bg-slate-100 mt-2 flex flex-col p-10">
    <div class="flex justify-stretch items-stretch mb-6">
      <div class="w-1/4 bg-white rounded-3xl shadow-lg mr-5 p-4">
        <div class="border-4 rounded-xl">
          <% if @pet.species == 'Cat' %>
            <%= image_tag('dp_cat.png', class:'w-full h-full flex justify-start object-cover') %>
          <% elsif @pet.species == 'Dog' %>
            <%= image_tag('dp_dog.png', class: 'w-full h-full object-cover') %>
          <% else %>
            <%= image_tag('paw.png', class: 'w-full h-full object-cover') %>
          <% end %>
        </div>
        <div class="mt-4 text-center">
          <p class="text-xl">Hello, I'm <strong><%= @pet.name.capitalize %></strong>!</p>
          <p class="text-xl">I'm a <%= @pet.breed.capitalize %> <%= @pet.species.capitalize %>.</p>
          <p class="text-md mt-4 text-violet-500">I love making new friends!</p>
          <p class="text-md text-violet-500">Feel free to leave me a comment or ask any questions.</p>
        </div>

        <div class="text-center w-full bg-green-2 mt-4 p-3.5 rounded-xl text-straw hover:bg-green">
          <%= link_to 'Back to List of Pets', adopter_pets_path %>
        </div>
      </div>

      <div class="w-3/4 flex-1">
        <div class="bg-white rounded-3xl shadow-lg p-6 h-full">
          <div class="border-2 p-6 h-full rounded-2xl">
            <table class="w-full text-left border-collapse">
            <tbody>
              <tr class="border-b">
                <td class="font-semibold p-2">Species:</td>
                <td class="p-2"><%= @pet.species %></td>
              </tr>
              <tr class="border-b">
                <td class="font-semibold p-2">Breed:</td>
                <td class="p-2"><%= @pet.breed %></td>
              </tr>
              <tr class="border-b">
                <td class="font-semibold p-2">Age:</td>
                <td class="p-2"><%= @pet.age %> years old</td>
              </tr>
              <tr class="border-b">
                <td class="font-semibold p-2">Size:</td>
                <td class="p-2"><%= @pet.size %></td>
              </tr>
              <tr class="border-b">
                <td class="font-semibold p-2">Gender:</td>
                <td class="p-2"><%= @pet.gender %></td>
              </tr>
              <tr class="border-b">
                <td class="font-semibold p-2">Temperament:</td>
                <td class="p-2"><%= @pet.temperament %></td>
              </tr>
              <tr class="border-b">
                <td class="font-semibold p-2">Description:</td>
                <td class="p-2"><%= @pet.description %></td>
              </tr>
              <tr class="border-b">
                <td class="font-semibold p-2">Location:</td>
                <td class="p-2"><%= @pet.location %></td>
              </tr>
              <tr>
                <td class="font-semibold p-2">Adoption Status:</td>
                <td class="p-2"><span class=" bg-yellow-400 rounded-lg px-4"><%= @pet.adoption_status.capitalize %></span></td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>

      <div class="w-full flex flex-col justify-center items-center">
        <div class="w-full">
          <%= turbo_frame_tag "pet_comments" do %>
            <%= render "comments" %>
          <% end %>
          <%= turbo_stream_from "pet_comments" %>
        </div>
      </div>
    </div>
  </div>

</div>



<script>
  document.addEventListener("turbo:submit-end", function() {
    document.getElementById("new_comment").reset();
  });
</script>