<%= form_with(model: adoption_application, url: adopter_adoption_applications_path, local: false) do |form| %>
  <% if adoption_application.errors.any? %>
    <div id="error_explanation">
      <h2 class="text-red-500"><%= pluralize(adoption_application.errors.count, "error") %> prohibited this adoption application from being saved:</h2>
      <ul>
        <% adoption_application.errors.full_messages.each do |message| %>
          <li class="text-red-500"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= form.label :pet_id %>
  <%= form.collection_select :pet_id, Pet.all, :id, :name, prompt: "Select a pet" %>
  </div>

  <div class="actions">
    <%= form.submit "Submit Application" %>
  </div>

<% end %>
