<div class=" relative bg-white">
  <h1 class="font-bold text-4xl mb-4 bg-green text-white px-6 py-8 text-center header-radius"><%= @adopter.user.username %>'s Profile</h1>
  <%= image_tag('cute_cat.png', class: "absolute -bottom-20 left-2 w-16 md:w-60 z-10") %>
  <%= image_tag('cute_dog.png', class: "absolute bottom-0 right-2 w-16 md:w-64 z-10") %>
</div>

<div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-lg mx-auto">
  <p class="mb-2 text-gray-700"><strong>First Name:</strong> <%= @adopter.first_name.capitalize %></p>
  <p class="mb-2 text-gray-700"><strong>Last Name:</strong> <%= @adopter.last_name.capitalize %></p>
  <p class="mb-2 text-gray-700"><strong>Preference:</strong> <%= @adopter.preference.capitalize %></p>
</div>
