<div>
  <div class="relative bg-white">
    <h1 class="font-bold text-4xl mb-4 bg-green text-white px-6 py-8 text-center header-radius">My Favorite Pets</h1>
    <%= image_tag('cute_cat.png', class: "absolute -bottom-20 left-2 w-16 md:w-60 z-10") %>
    <%= image_tag('dog.png', class: "absolute -bottom-2 right-16 w-16 md:w-36 z-10") %>
  </div>

  <div class="bg-gray-100 rounded p-6">
    <% if @favorites.any? %>
      <ul class="flex flex-wrap justify-center items-center p-6 rounded-3xl shadow-xl bg-white">
        <% @favorites.each do |favorite| %>
          <div id="favorite_<%= favorite.pet.id %>" class="w-1/5 m-6 shadow rounded-2xl p-4 bg-gray-100 text-center">
            <li class="">
              <div class="relative w-full h-40 border mb-2 rounded-xl">
                <% if favorite.pet.photos.any? %>
                  <% favorite.pet.photos.each do |photo| %>
                    <%= image_tag url_for(photo), class: 'w-full h-full object-cover rounded-lg' %>
                  <% end %>
                <% else %>
                  <% if favorite.pet.species == 'Cat' %>
                    <%= image_tag('dp_cat.png', class: 'w-full h-full object-cover') %>
                  <% elsif favorite.pet.species == 'Dog' %>
                    <%= image_tag('dp_dog.png', class: 'w-full h-full object-cover') %>
                  <% else %>
                    <%= image_tag('paw.png', class: 'w-full h-full object-cover') %>
                  <% end %>
                <% end %>

                <div class="absolute bottom-2 right-2 bg-slate-200 py-2 px-3 rounded-full hover:bg-slate-300 transition duration-500 ease-in-out">
                  <% if current_user.favorites.exists?(pet_id: favorite.pet.id) %>
                    <%= form_with(url: adopter_favorite_path(id: favorite.pet.id), method: :delete, local: true) do %>
                      <%= hidden_field_tag :pet_id, favorite.pet.id %>
                      <%= button_tag type: 'submit', class: 'btn text-xl' do %>
                        <i class="fa-solid fa-heart" style="color: crimson;"></i>
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= form_with(url: adopter_favorites_path, method: :post, local: true) do %>
                      <%= hidden_field_tag :pet_id, favorite.pet.id %>
                      <%= hidden_field_tag :redirect_to, 'pets' %>
                      <%= button_tag type: 'submit', class: 'btn text-xl' do %>
                        <i class="fa-regular fa-heart" style="color: crimson;"></i>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>

              </div>

              <p class="text-xl"><strong><%= link_to favorite.pet.name.capitalize, adopter_pet_path(favorite.pet) %></strong> - <%= favorite.pet.gender.capitalize %></p>
              <p><%= favorite.pet.location.capitalize %></p>
              <p><%= favorite.pet.species.capitalize %> - <%= favorite.pet.breed.capitalize %></p>
              <p><%= favorite.pet.age %> years old</p>

              <p class="mt-4">
                <%= link_to adopter_pet_path(favorite.pet), class: "text-blue-500 hover:text-blue-700" do %>
                <i class="fas fa-comments mr-1"></i>
                  Comments <span class="text-sm text-gray-600 border px-1.5 rounded"><%= favorite.pet.pet_comments.size %></span>
                <% end %>
              </p>
          
            </li>
          </div>
          <br />
        <% end %>
      </ul>
    <% else %>
      <p class="bg-white text-center p-10 rounded-3xl shadow-xl">You have no favorite pets.</p>
    <% end %>
  </div>
</div>
