<h1>Adoption Applications</h1>

<table>
  <thead>
    <tr>
      <th>Adopter</th>
      <th>Pet</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @adoption_applications.each do |application| %>
      <tr>
        <td><%= link_to application.adopter.full_name, shelter_adopter_path(application.adopter) %></td>
        <td><%= link_to application.pet.name, shelter_pet_path(application.pet) %></td>
        <td><%= application.status %></td>
        <td>
          <%= link_to 'View', shelter_adoption_application_path(application) %>
          <% if application.pending? %>
            <%= link_to 'Approve', approve_shelter_adoption_application_path(application), method: :patch, class: 'btn btn-success' %>
            <%= link_to 'Deny', deny_shelter_adoption_application_path(application), method: :patch, class: 'btn btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
