<div class="container mx-auto p-6 bg-white shadow-md rounded-lg">
  <h1 class="text-3xl font-bold text-gray-800 mb-6">Adoption Applications</h1>

  <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
    <thead>
      <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
        <th class="py-3 px-6 text-left">Adopter</th>
        <th class="py-3 px-6 text-left">Pet</th>
        <th class="py-3 px-6 text-left">Status</th>
        <th class="py-3 px-6 text-left">Show more</th>
      </tr>
    </thead>
    <tbody class="text-gray-600 text-sm font-light">
      <% @adoption_applications.each do |application| %>
        <tr class="border-b border-gray-200 hover:bg-gray-100">
          <td class="py-3 px-6 text-left">
            <% if application.adopter.present? %>
              <% user = application.adopter.user %>
              <%= link_to user.username, admin_user_path(user), class: 'text-blue-500 hover:underline' %>
            <% else %>
              <span class="text-red-500">No Adopter</span>
            <% end %>
          </td>
          <td>
            <% if application.pet %>
              <%= link_to application.pet.name, admin_pet_path(application.pet), class: 'text-blue-500 underline hover:text-blue-700' %>
            <% end %>
          </td>
          <td class="py-3 px-6 text-left"><%= application.status.capitalize %></td>
          <td class="py-3 px-6 text-left">
            <%= link_to admin_adoption_application_path(application), class: 'text-blue-500 hover:underline' do %>
              &#x2192;
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="mt-8">
    <%= link_to 'Back to Dashboard', admin_dashboard_path, class: 'inline-block bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600' %>
  </div>
</div>
