<nav class="w-full h-20 flex items-center justify-between relative z-50">
  <%= image_tag('2.png', class: 'w-96 mx-2.5') %>
</nav>

<div class="container mx-auto p-6 bg-white shadow-md rounded-lg">
  <h1 class="text-3xl font-bold text-gray-800 mb-6">Adoption Application Details</h1>

  <div class="space-y-4">
    <p class="text-lg">
      <strong class="font-semibold text-gray-700">Adopter:</strong>
      <span class="text-gray-900">
        <% if @adoption_application.adopter.present? %>
          <% user = @adoption_application.adopter.user %>
          <%= link_to user.username, admin_user_path(user), class: 'text-blue-500 hover:underline' %>
        <% else %>
          <span class="text-red-500">No Adopter</span>
        <% end %>
      </span>
    </p>
    <p class="text-lg">
      <strong class="font-semibold text-gray-700">Shelter:</strong>
      <span class="text-gray-900">
        <%= link_to @adoption_application.pet.shelter.name, admin_user_path(@adoption_application.pet.shelter.user), class: 'text-blue-500 hover:underline' %>
      </span>
    </p>
    <p class="text-lg">
      <strong class="font-semibold text-gray-700">Pet:</strong>
      <%= link_to @adoption_application.pet.name, admin_pet_path(@adoption_application.pet), class: "text-blue-500 underline hover:text-blue-700" %>
    </p>
    <p class="text-lg">
      <strong class="font-semibold text-gray-700">Status:</strong>
      <span class="text-gray-900"><%= @adoption_application.status.capitalize %></span>
    </p>
    <p class="text-lg">
      <strong class="font-semibold text-gray-700">Application Date:</strong>
      <span class="text-gray-900"><%= @adoption_application.application_date %></span>
    </p>
    <p class="text-lg">
      <strong class="font-semibold text-gray-700">Submitted at:</strong>
      <span class="text-gray-900"><%= @adoption_application.created_at %></span>
    </p>
    <p class="text-lg">
      <strong class="font-semibold text-gray-700">Last Updated at:</strong>
      <span class="text-gray-900"><%= @adoption_application.updated_at %></span>
    </p>
  </div>

  <div class="mt-6">
    <%= link_to 'Back to Applications', admin_adoption_applications_path, class: 'inline-block bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600' %>
  </div>
</div>
