<h1 class="font-bold text-3xl">Adoption Applications</h1>
<br/>

<%= link_to "New Adoption +", new_adopter_adoption_path, data: { turbo_frame: "modal" } %>

<table>
  <thead>
    <tr>
      <th>Pet Name</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody class="text-center">
    <% if @adoption_applications.present? %>
      <% @adoption_applications.each do |adoption_application| %>
        <tr>
          <td><%= adoption_application.pet.name %></td>
          <td><%= adoption_application.status.capitalize %></td>
          <td>
            <%= link_to "Show", adopter_adoption_path(adoption_application) %> |
            <%= link_to "Withdraw Application", adopter_adoption_path(adoption_application), method: :delete, data: { confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="3" class="text-center">No pending applications..</td>
      </tr>
    <% end %>
  </tbody>
</table>
