<nav class="w-full h-20 flex items-center justify-between relative z-50">
  <%= image_tag('2.png', class: 'w-96 mx-2.5') %>
</nav>

<div class="container mx-auto px-4">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
    <div class="bg-white shadow-md rounded-lg overflow-hidden mb-6 h-96 overflow-y-auto">
      <h2 class="bg-orange-200 text-gray-600 uppercase text-sm leading-normal py-3 px-6">Pending Adopters</h2>
      <% if @users.any? { |user| !user.approved? && user.role == 'adopter' } %>
        <table class="min-w-full">
          <thead>
            <tr class="bg-orange-100 text-gray-600 uppercase text-sm leading-normal">
              <th class="py-3 px-6 text-left">Username</th>
              <th class="py-3 px-6 text-center">Approve?</th>
            </tr>
          </thead>
          <tbody class="text-gray-600 text-sm font-light">
            <% @users.select { |user| !user.approved? && user.role == 'adopter' }.each do |user| %>
              <tr class="border-b border-gray-200 hover:bg-gray-100">
                <td class="py-3 px-6 text-left whitespace-nowrap">
                  <%= link_to user.username, admin_user_path(user), class: 'text-blue-500 hover:underline' %>
                </td>
                <td class="py-3 px-6 text-center flex justify-center items-center space-x-2">
                  <%= button_to approve_admin_user_path(user), method: :patch, class: 'bg-green-2 text-white px-3 py-1 rounded hover:bg-green-600' do %>
                    <i class="fa-solid fa-check"></i>
                  <% end %>
                  <%= button_to deny_admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600' do %>
                    <i class="fa-solid fa-x"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="p-6 text-center">
          <p class="text-gray-700">No pending adopters. Would you like to <%= link_to 'invite a new user', invite_user_form_admin_users_path, class: 'text-blue-500 hover:underline' %>?</p>
        </div>
      <% end %>
    </div>

    <div class="bg-white shadow-md rounded-lg overflow-hidden mb-6 h-96 overflow-y-auto">
      <h2 class="bg-orange-200 text-gray-600 uppercase text-sm leading-normal py-3 px-6">Pending Shelters</h2>
      <% if @users.any? { |user| !user.approved? && user.role == 'shelter' } %>
        <table class="min-w-full">
          <thead>
            <tr class="bg-orange-100 text-gray-600 uppercase text-sm leading-normal">
              <th class="py-3 px-6 text-left">Username</th>
              <th class="py-3 px-6 text-center">Approve?</th>
            </tr>
          </thead>
          <tbody class="text-gray-600 text-sm font-light">
            <% @users.select { |user| !user.approved? && user.role == 'shelter' }.each do |user| %>
              <tr class="border-b border-gray-200 hover:bg-gray-100">
                <td class="py-3 px-6 text-left whitespace-nowrap">
                  <%= link_to user.username, admin_user_path(user), class: 'text-blue-500 hover:underline' %>
                </td>
                <td class="py-3 px-6 text-center flex justify-center items-center space-x-2">
                  <%= button_to approve_admin_user_path(user), method: :patch, class: 'bg-green-2 text-white px-3 py-1 rounded hover:bg-green-600' do %>
                    <i class="fa-solid fa-check"></i>
                  <% end %>
                  <%= button_to deny_admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600' do %>
                    <i class="fa-solid fa-x"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="p-6 text-center">
          <p class="text-gray-700">No pending shelters. Would you like to <%= link_to 'invite a new user', invite_user_form_admin_users_path, class: 'text-blue-500 hover:underline' %>?</p>
        </div>
      <% end %>
    </div>

    <div class="bg-white shadow-md rounded-lg overflow-hidden mb-6 h-96 overflow-y-auto">
      <h2 class="bg-orange-200 text-gray-600 uppercase text-sm leading-normal py-3 px-6">Approved Adopters</h2>
      <table class="min-w-full">
        <thead>
          <tr class="bg-orange-100 text-gray-600 uppercase text-sm leading-normal">
            <th class="py-3 px-6 text-left">Username</th>
            <th class="py-3 px-6 text-center">Applications</th>
          </tr>
        </thead>
        <tbody class="text-gray-600 text-sm font-light">
          <% @users.select { |user| user.approved? && user.role == 'adopter' }.each do |user| %>
            <tr class="border-b border-gray-200 hover:bg-gray-100">
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <%= link_to user.username, admin_user_path(user), class: 'text-blue-500 hover:underline' %>
              </td>
              <td class="py-3 px-6 text-center">
                <% if user.adopter %>
                  <%= link_to "#{user.adopter.adoption_applications.count}", admin_adoption_applications_path, class: 'text-blue-500 hover:underline' %>
                <% else %>
                  <span class="text-blue-500 hover:underline">0</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  <h3 class="text-xl font-semibold text-gray-600 mt-8 mb-2">Shelters</h3>
  <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
    <thead>
      <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
        <th class="py-3 px-6 text-left">Username</th>
        <th class="py-3 px-6 text-left">Email</th>
        <th class="py-3 px-6 text-left">Role</th>
        <%# <th class="py-3 px-6 text-left">Chat</th> %>
      </tr>
    </thead>
    <tbody class="text-gray-600 text-sm font-light">
      <% @users.select { |user| user.approved? && user.role == 'shelter' }.each do |user| %>
        <tr class="border-b border-gray-200 hover:bg-gray-100">
          <td class="py-3 px-6 text-left whitespace-nowrap">
            <%= link_to user.username, admin_user_path(user), class: 'text-blue-500 hover:underline' %>
          </td>
          <td class="py-3 px-6 text-left"><%= user.email %></td>
          <td class="py-3 px-6 text-left"><%= user.role %></td>
          <!-- <td class="py-3 px-6 text-left">
            <%= button_to "💬", "#", class: "chat-link", data: { user_id: user.id, username: user.username } %>
          </td> -->
        </tr>
      <% end %>
    </tbody>
  </table>

  <!-- Chat Interface -->
  <%# <div id="chat-container" class="hidden fixed bottom-0 right-0 w-96 bg-white shadow-lg border border-gray-300 rounded-lg">
    <div class="flex items-center justify-between bg-gray-200 p-3 border-b border-gray-300">
      <span id="chat-username" class="font-semibold text-gray-700"></span>
      <div class="flex items-center space-x-2">
        <button id="minimize-chat" class="text-gray-500 hover:text-gray-700">_</button>
        <button id="close-chat" class="text-gray-500 hover:text-gray-700">&times;</button>
      </div>
    </div>
    <div id="chat-messages" class="p-3 h-64 overflow-y-scroll"></div>
    <div class="p-3 border-t border-gray-300">
      <input type="text" id="chat-input" class="w-full border border-gray-300 rounded-lg p-2" placeholder="Type a message...">
    </div>
  </div> %>

  <div class="mt-8">
    <%= link_to 'Back to Dashboard', admin_dashboard_path, class: 'text-blue-500 hover:underline' %>
  </div>
</div>
