<h1>Invite Shelter</h1>

<%= form_with url: invite_shelter_admin_users_path, method: :post, local: true do %>
  <div class="field">
    <%= label_tag :email, 'Shelter Email' %><br>
    <%= email_field_tag :email %>
  </div>

  <div class="field">
  <%= label_tag :shelter_name, 'Shelter Name' %><br>
  <%= text_field_tag :shelter_name %>
</div>

  <div class="actions">
    <%= submit_tag 'Send Invitation' %>
  </div>
<% end %>

<%= link_to 'Back to Dashboard', admin_dashboard_path %>
