<!DOCTYPE html>
<html>
  <head>
    <title>The Ruby Project: Pet Network App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Dropzone CSS for pet photo in shelter-->
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.css' %>
  </head>

  <body>
    <div class="flex w-full h-screen">
      <div class="h-full p-2">
        <%= render 'shared/navbar' %>
      </div>

      <main class="flex-1 flex flex-col overflow-auto py-2 px-4">
        <% if notice.present? %>
          <p class="notice">
            <i class="fa-solid fa-circle-exclamation mr-1"></i>
            <%= notice %>
          </p>
        <% end %>
        
        <% if alert.present? %>
          <p class="alert">
            <i class="fa-regular fa-circle-xmark mr-1"></i>
            <%= alert %>
          </p>
        <% end %>

        <div class="h-full">
          <%= yield %>
          <%= turbo_frame_tag :modal %>
        </div>

      </main>
    <div>
    <!-- Dropzone JS for pet photo in shelter-->
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.js' %>
  </body>
</html>
