<!DOCTYPE html>
<html>
  <head>
    <title>The Ruby Project: Onboarding</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="w-full h-screen flex flex-col justify-center items-center bg-yellow-grad">
      <% if notice.present? %>
        <p class="notice">
          <i class="fa-solid fa-circle-exclamation mr-1"></i>
          <%= notice %>
        </p>
      <% end %>
      
      <% if alert.present? %>
        <p class="alert">
          <i class="fa-regular fa-circle-xmark mr-1"></i>
          <%= alert %>
        </p>
      <% end %>
    
      <div class="flex flex-row justify-center items-center m-auto w-1/2 h-3/4 rounded-3xl shadow-2xl bg-white">
        <%= yield %>
      </div>

    </main>
  </body>
</html>
